* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh-sans', sans-serif;
}

.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

#navbar-logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, red, orange);
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    cursor: pointer;
    text-decoration : none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem; 
    font-size: 1.5rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 22px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    
    cursor: pointer;

}

.button:hover {
    background: orange;
    transition: all 0.3s ease-out;
}

.nav-links:hover {
    color: magenta;
    transition: all 0.3s ease-out;
}   

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 30px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        background: #131313;
    }

    .nav-menu.active {
        background: #131313;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar-item {
        width: 100%;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: magenta;
        color: #fff;
        border-radius: 0;
    }

    .navbar__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }

    .button {
        width: 80%;
        height: 50px;
    }

    #navbar-logo {
        font-size: 1.5rem;
    }

    .navbar__toggle .bar {
        width : 25px;
        height : 3px;

    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }





}

@media screen and (max-width: 768px) {
    .navbar__toggle {
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #fff;
        transition: all 0.3s ease;
    }

    .nav-menu {
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        flex-direction: column;
        background: #131313;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        left: 0;
    }
}
